/** @format */
body {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5em;
}

/* Content should be centered, both vertically and horizontally in the container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

#previous,
#next {
  margin: 8px;
}

.footer {
  margin-top: 24px;
}

.button {
  background-color: #ffffff;
  border: 2px solid black;
  padding: 8px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.button.selected {
  background-color: #484848;
  border: 2px solid black;
  padding: 8px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}
